@charset "UTF-8";
.many{
    color: #59b403;
}
.few{
    color: #cbcb03;
}
.notAv{
    color: #c70303;
}

h1 {
    color: #6066ff;
    margin-left: 40px;
}
a:link {
    text-decoration: none;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 200px;
    margin-left: 50px;
}

:root {
    --star-size: 20px;
    --star-color: #acabab;
    --star-background: #fc0;
}

.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
}
.Stars::before {
    content: "★★★★★";
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
